.info, .add {
	display: none;
	float: left;
	height: 230px;
	width: 450px;
	padding: 25px;
}

.add {
	label {
		width: 75px;
		display: inline-block;
		&:first-child {
			width: auto;
		}
	}

	input[type="text"] {
		width: 100px;
	}
}
