<!DOCTYPE html>
<html>
<head>
	<title>pyhole</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<style>
		#wrapper #nav a[href="{{ path }}"] {
			background: #222;
		}
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools.js"></script>
	{% block js %}{% end %}
	{% block css %}{% end %}
</head>
<body>
	<div id="modal_bg">
		<div id="modal"></div>
	</div>
	<div id="wrapper">
		<div id="nav">
			<a href="/">home</a>
			<a href="/map">map</a>
			<a href="/log">log</a>
			<a href="/account">account</a>
			<a href="/logout">logout</a>
		</div>

		{% block main %}{% end %}
	</div>
</body>
</html>
