{% extends "base.html" %}

{% block js %}
<script src="//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.2.min.js"></script>
<script src="/static/js/mootools-more-1.4.0.1.js"></script>
<script>
	window.config = {
		'wsurl': 'ws://{{ websocket_host }}/map.ws',
	}
</script>
<script src="/static/js/map.js"></script>
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/map.css" />
{% end %}

{% block main %}

<div id="map"></div>
<div class="info">
	<span id="system_name"></span>
	<br>
	<input type="button" value="delete" id="delete">
	<input type="button" value="detach" id="detach">
	<div id="effect"></div>
	<div id="statics"></div>
	<div id="connections"></div>
	<table id="trade_hubs">
	</table>
	<table id="signatures">
	</table>
	<input type="button" value="paste sigs" id="paste_sigs">
</div>
<div class="add"><form id="add">
	<label for="src">add system connected to</label>&nbsp;
	<input type="text" id="src">
	<br>
	<label for="dest">name:</label>
	<div class="autocomp_wrapper">
		<input type="text" id="dest" autocomplete="off">
		<div class="autocomp" id="dest_ac"></div>
	</div>
	&nbsp;(Jita)
	<br>
	<input type="checkbox" id="eol"><label for="eol">EoL</label>
	<br>
	<input type="checkbox" id="frigate"><label for="frigate">Frigate</label>
	<br>
	<input type="submit" value="add">
</form></div>
{% if igb %}
	<div class="igb">
		you are using the in-game browser!&nbsp;&nbsp;
		if someone else edits the map while you are editing, bad things will happen.
	</div>
{% end %}

{% end %}
