{% extends "base.html" %}

{% block js %}
<script src="//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.2.min.js"></script>
<script>
	window.config = {
		'wsurl': 'ws://{{ host }}/map.ws',
	}
</script>
<script src="/static/js/map.js"></script>
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/map.css" />
{% end %}

{% block main %}

<div id="map"></div>
<div class="add"><form id="add">
	<label for="src">add system connected to</label>&nbsp;
	<input type="text" disabled="disabled" id="src">
	<br>
	<label for="dest">name:</label><input type="text" id="dest"> (Jita)
	<br>
	<label for="to">wh to:</label><input type="text" id="to"> (K162)
	<br>
	<label for="from">wh from:</label><input type="text" id="from">
	<br>
	<input type="checkbox" id="eol"><label for="eol">EoL</label>
	<br>
	<input type="submit" value="add">
</form></div>

{% end %}
